body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: limegreen;
}

h2,
ul {
    color: white;
}

h1 {
    color: blue;
    font-size: 32px;
}

p {
    color: limegreen;
}

#title {
    color: yellow;
}

#content {
    color: orange;
}

.red {
    color: red;
}

.big {
    font-size: 3em;
}

[title] {
    color: orange;
    list-style: none;
}

p:hover {
    color: red;
}

h1:hover {
    color: red;
}

h1,
p,
.title,
.title:hover {
    color: red;
}
