* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ececec;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
}

header {
    display: flex;
    background-color: #fff;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

img {
    width: 100px;
    height: 50px;
}

ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
}

ul li {
    list-style: none;
    margin-right: 0.8rem;
    font-weight: bolder;
}

button {
    padding: 16px 16px;
    background-color: blue;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-weight: bolder;
}

.voltar {
    padding: 4px;
}

h1 {
    color: red;
    padding: 4px;
}

.colunas {
    display: flex;
    gap: 1rem;
    padding: 0 4px;
}

.coluna1 {
    flex-basis  : 25%;
    border: 1px solid black;
    height: 25vh;
}

.coluna2 {
    flex: 1;
    border: 1px solid black;
    height: 25vh;
}

.frame {
    display: flex;
    gap: 0.8rem;
    flex-wrap: wrap;
    justify-content: center;
    padding: 8px;
}

.image {
    height: auto;
    width: 30%;
    
}

.botoes {
    display: flex;
    gap: 0.4rem;
    padding: 16px;
    justify-content: center;
}

.botao01 {
    display: flex;
    align-items: center;
    background-color: blueviolet;
    line-height: 0;
}

.botao02 {
    display: flex;
    align-items: center;
    background-color: blueviolet;
    line-height: 0;
}

.svg {
    width: 2rem;
    height: 2rem;

}

.footer {
    height: 8rem;
    padding: 48px;
    background-color: aqua;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot {
    margin: auto;
    padding: 24px;
    background-color: coral;
}
